<ng-container *ngIf="eventInfo; else notFound">
    <mat-card class="event-details-card">
        <img mat-card-image [src]="eventInfo.event.image" alt="{{ eventInfo.event.title }}">
        <mat-card-title>{{ eventInfo.event.title }}</mat-card-title>
        <mat-card-subtitle>{{ eventInfo.event.subtitle }}</mat-card-subtitle>
        <h3>Available Sessions</h3>
        <div *ngIf="sortedSessions.length > 0; else noSessions" class="sessions-grid">
            <div *ngFor="let session of sortedSessions" class="session-item">
                <span class="session-date">{{ session.date | date:'longDate' }}</span>
                <span class="session-availability">Available: {{ session.availability }}</span>
                <span class="session-selected">Selected: {{ selectedSeats[session.date] || 0 }}</span>

                <div class="session-controls">
                    <button mat-button (click)="addToCart(session.date)"
                        [disabled]="isMaxSelected(session)">
                        +
                    </button>
                    <button mat-button (click)="removeFromCart(session.date)"
                        [disabled]="isMinSelected(session)">
                        -
                    </button>
                </div>
            </div>
        </div>
        <ng-template #noSessions>
            <p>No available sessions.</p>
        </ng-template>
    </mat-card>
</ng-container>
<ng-template #notFound>
    <p>EVENT INFO NOT FOUND</p>
</ng-template>
<button mat-button routerLink="/events">← Back to Events</button>