.event-details-card {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--default-color);
    padding: 8px;
    margin: 8px;
}

.sessions-grid {
    display: grid;
    gap: 16px;
    width: 100%;
}

.session-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    border: 1px solid var(--default-color);
    border-radius: 8px;
    text-align: center;
}

.session-date {
    color: var(--text-color);
    font-weight: bold;
}

.session-controls {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

.not-found {
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--default-color);
    font-weight: bold;
}

.back-button {
    display: flex;
    justify-content: center;
    text-align: center;
}

.event-details-title {
    display: table-column;
    justify-content: center;
    text-align: center;
    margin: 32px 0;
}

mat-card-title,
mat-card-subtitle {
    color: var(--default-color);
    font-weight: bold;
}

@media (min-width: 768px) {
    .event-details-card {
        margin: 16px;
    }

    .sessions-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}