<ng-container *ngIf="eventInfo; else notFound">
    <mat-card class="event-details-card">
        <img mat-card-image [src]="eventInfo.event.image" alt="{{ eventInfo.event.title }}">
        <div class="event-details-title">
            <mat-card-title>{{ eventInfo.event.title }}</mat-card-title>
            <mat-card-subtitle>{{ eventInfo.event.subtitle }}</mat-card-subtitle>
            <p [innerHTML]="eventInfo.event.description"></p>
        </div>
        <div class="sessions-grid">
            <div *ngFor="let session of sortedSessions" class="session-item">
                <span class="session-date">{{ session.date | date:'longDate' }}</span>
                <span class="session-availability">Available: {{ getAvailableSeats(session.date) }}</span>
                <span class="session-selected">Selected: {{ selectedSeats[session.date] || 0 }}</span>

                <div class="session-controls">
                    <button mat-button color="primary" (click)="addToCart(session.date)"
                        [disabled]="getAvailableSeats(session.date) <= 0">
                        +
                    </button>
                    <button mat-button color="warn" (click)="removeFromCart(session.date)"
                        [disabled]="(selectedSeats[session.date] || 0) <= 0">
                        -
                    </button>
                </div>
            </div>
        </div>
        <ng-template #noSessions>
            <p>No available sessions.</p>
        </ng-template>
    </mat-card>
</ng-container>
<ng-template #notFound>
    <div class="not-found">
        <h1>Event not found</h1>
    </div>
</ng-template>
<div class="back-button">
    <button mat-button (click)="closeDialog()">
        <mat-icon>arrow_back</mat-icon>
    </button>
</div>