body {
    margin-top: 50px;
    margin-bottom: 50px;
}

.main-content {
    padding-top: 50px;
    padding-bottom: 50px;
}

button,
mat-button,
mat-icon-button {
    position: relative;
    z-index: auto;
}